*,
html,
body {
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Osaka,
        'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

:root {
    --primary-background: #303030;
    --primary-text: #f8f9fa;
    --navbar-background: #1f1f1f;
    --jumbotron-background: #c7bbb2;
    --jumbotron-text: #212529;
}

.navbar {
    background-color: var(--navbar-background);
}

.jumbotron {
    padding-top: 4rem;
    background-color: var(--jumbotron-background);
    color: var(--jumbotron-text);
}

#about {
    background-color: var(--primary-background);
    color: var(--primary-text);
}

#projects {
    background-color: var(--jumbotron-background);
    color: var(--jumbotron-text);
}

#contact {
    background-color: var(--jumbotron-background);
    color: var(--jumbotron-text);
    font-weight: 600;
}

#footer {
    background-color: var(--navbar-background);
    color: var(--primary-text);
}

#footer a {
    text-decoration: none;
    color: var(--primary-text);
}

section {
    padding-top: 5rem;
}

.card {
    border-color: #382e2e;
}

.btn-kirim {
    background-color: #8b6758;
    color: var(--primary-text);
}

.btn-loading {
    background-color: #8b6758;
    color: var(--primary-text);
}

.gallery-img {
    width: 100%;
}

#gallery {
    background-color: var(--primary-background);
    color: var(--primary-text);
}

#gallery .row > * {
    padding: 0;
}

.project-main {
    background-color: rgb(72, 66, 56);
    color: #c6ccc9;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 2rem;
}

.card-text {
    font-weight: 500;
}

.alert {
    background-color: rgb(72, 66, 56);
    /* color: #aaa; */
    color: #c6ccc9;
    border-radius: 8px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.alert-index {
    background-color: rgb(72, 66, 56);
    /* color: #aaa; */
    color: #c6ccc9;
    border-radius: 8px;
    width: 45%;
    padding: 0.9rem;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.display-4 {
    margin-top: 5px;
}
